div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-6 col-lg-4" style="background-color: rgb(211, 206, 196);">
      <form class="border p-4 rounded shadow d-flex flex-column align-items-center">
        <h2 class="text-center mb-4">User Registration</h2>
  
        <div class="form-group mb-3 w-100">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
